@import "config";

.header {
    * {
        font-family: $myFont;
        color: white;
    }

    background-color: $myColor;
    border-radius: 10px;
    text-align: center;
    color: white;
    line-height: 1em;
    padding-top: .8em;
    padding-bottom: .8em;
    
    button {
        font-size: 100px;
        background-color: $myColor;
        border: none;
        cursor: pointer;
    }
    
    p {
        font-size: 10px;
        margin-top: .1em;
    }
}